@charset "UTF-8";

h2 {
    text-align: center;
}

div#observablehq-chartRace-1b38f166{
    max-width: 100%;
    height: auto;
    background: #0b0e14;
    border-radius: 8px;
    margin: 30px;
    
}

div#observablehq-view_impacto-6a34b951{
    background: #0a0a0a;
    color: #e0e0e0;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 40px 20px;
    border-radius: 12px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    border: 1px solid #333;
}

div#observablehq-chartConst-e0fe101d{
    max-width: 100%;
    height: auto;
    background: #0b0e14;
    border-radius: 8px;
    margin: 30px;
}

div#observablehq-chartTrend-4228900b{
    max-width: 100%;
    height: auto;
    background: #0b0e14;
    border-radius: 12px;
    margin: 30px;
}

div#observablehq-chartDevelopment-95dd4572{
    max-width: 100%;
    height: auto;
    background: #0b0e14;
    border-radius: 12px;
    margin: 30px;
}

div#observablehq-mapaDiabetes-f810304b{
    font-family: sans-serif;
    max-width: 930px;
    margin: 30px;
    
    
}